.hero-menu{
  width: 100%;
  min-height: clamp( 681px, 40vh + 5rem, 700px);
  background: url(/image/menu-bg.png);
  background-repeat:no-repeat ;
  background-size: cover;
  background-position: center center;
}

.content{
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  width: 100%;
  top:40%;
  left: 50%;
  transform: translate(-50%);
}

.content h1{
  font-size: clamp(1.2rem, 4vw, 3rem);
  margin-bottom: 2em;
}
.content h1 span{
  display: block;
  text-align: center;
}

.parallax{
  margin: 3em 0;
  width: 100%;
  min-height: 500px;
  background-image: url(/image/parallax.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}
.parallax h1{
  min-height: 500px;
  height: 100%;
  display: grid;
  place-items: center;
}

section.mission-vision{
  width: 100%;
  height: auto;
  font-family: 'Akaya Telivigala';
}
section.mission{
  background-color:#D9D9D9 ;
}
.mission-wrapper{
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 2em;
}
.mission-wrapper h1{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1em;
}
.mission-vision img{
  max-width: 650px;
  width: 100%;
}
.mission-vision .row{
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  font-size: clamp(1rem, 2vw, 2rem);
  gap: 1em;
  padding: 0 2em;
}

.vission--text{
  text-align: right;
}

.about--reach{
  padding: 2em;
  background-color: #D9D9D9;
  height: auto;
  font-family: 'Akaya Telivigala';
  width: 100%;
  font-size: clamp(1rem, 2vw, 2rem);
}

/* Revised */
@media (width > 900px){
  .mission-vision .row{
    grid-template-columns: repeat(2, 1fr);
  }
  .vission--text{
    text-align: left;
  }
}